---
---

@import "reset";
@import "config";

body {
    color: $color-fg;
    background: $color-bg;
    font-family: 'Inconsolata', ;
    font-size: 100%;
    font-weight: 400;
}
h1 {
    margin-bottom: 5px;
}
p {
    font-size: 1em;
    line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
    text-decoration: underline;
  }
  &:active {
    color: $color-link;
    text-decoration: none;
  }
}
ul {
    list-style: none;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}


.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }
}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}



.blog {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}


.post {
    padding-bottom: 30px;
    &__title {
        font-size: 1.6em;
        font-weight: 700;
        text-decoration: underline;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    &__date {
        font-size: 1em;
        font-style: italic;
    }
    &__content {
        padding-top: 40px;
        h1 {
            font-size: 1.25em;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 15px;
        }
        a {
            text-decoration: underline;
            &:hover {
                font-weight: bold;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1em;
            list-style: circle;
            margin-left: 30px;
            margin-top: -5px;
            margin-bottom: 5px;
            li {
                padding: 5px;
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
        code {
            padding: 3px;
            font-size: 0.9em;
            border-radius: 3px;
        }
        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }

        .highlight { padding: 5px; }
        .highlight table td { padding: 5px; }
        .highlight table pre { margin: 0; }
        .highlight, .highlight .w {
          color: #93a1a1;
          background-color: #002b36;
        }
        .highlight .err {
          color: #151515;
          background-color: #ac4142;
        }
        .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
          color: #505050;
        }
        .highlight .cp {
          color: #f4bf75;
        }
        .highlight .nt {
          color: #f4bf75;
        }
        .highlight .o, .highlight .ow {
          color: #d0d0d0;
        }
        .highlight .p, .highlight .pi {
          color: #d0d0d0;
        }
        .highlight .gi {
          color: #90a959;
        }
        .highlight .gd {
          color: #ac4142;
        }
        .highlight .gh {
          color: #6a9fb5;
          background-color: #151515;
          font-weight: bold;
        }
        .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
          color: #aa759f;
        }
        .highlight .kc {
          color: #d28445;
        }
        .highlight .kt {
          color: #d28445;
        }
        .highlight .kd {
          color: #d28445;
        }
        .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
          color: #90a959;
        }
        .highlight .sr {
          color: #75b5aa;
        }
        .highlight .si {
          color: #8f5536;
        }
        .highlight .se {
          color: #8f5536;
        }
        .highlight .nn {
          color: #f4bf75;
        }
        .highlight .nc {
          color: #f4bf75;
        }
        .highlight .no {
          color: #f4bf75;
        }
        .highlight .na {
          color: #6a9fb5;
        }
        .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
          color: #90a959;
        }
        .highlight .ss {
          color: #90a959;
        }
    }
}

.about, .podcasts {
    &__title {
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1.2em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 10px;
        }
    }
}

bsky-widget {
  min-height: 345px;
  width: 350px;
}
